<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">

  <!-- Load the ASP.NET Core plugin -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="Logger" value="${logger}" />
  <variable name="Level" value="${level:upperCase=true}" />
  <variable name="Message" value="${message}" />
  <variable name="StackTrace" value="${exception:format=StackTrace}" />

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target name="database" xsi:type="Database">
      <connectionString>${var:connectionString}</connectionString>
      <commandText>
        INSERT INTO ${var:logTableName}
                    (CreatedAtUtc
                    ,Logger
                    ,Level
                    ,Message
                    ,StackTrace)
             VALUES
                    (GETUTCDATE()
                    ,@Logger
                    ,@Level
                    ,@Message
                    ,@StackTrace);
      </commandText>
      <parameter name="@Logger" layout="${Logger}" />
      <parameter name="@Level" layout="${Level}" />
      <parameter name="@Message" layout="${Message}" />
      <parameter name="@StackTrace" layout="${StackTrace}" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="AaronUrkinCodeExample.Web.Controllers.AccountController" minlevel="Info" writeTo="database" final="true"></logger>
    <logger name="*" minlevel="Warn" writeTo="database" />
  </rules>
</nlog>