@{
    var url = TempData["ConfirmationLink"]?.ToString();
    ViewData["Title"] = Translate["Forgot password confirmation"];
}

<section id="reset-password">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>@ViewData["Title"]</h1>
                @if (!string.IsNullOrEmpty(url))
                {
                    <h2>@Translate["To save your time, you can reset your password without receiving email"]</h2>
                    <a href="@url" class="btn btn-xl">@Translate["Reset"]</a>
                }
            </div>
        </div>
    </div>
</section>
